@model MVCWeatherApp.Models.CityWeather

@{
    ViewBag.Title = "WeatherMainView";
}

<h2>Weather Main View</h2>

<div>
    <dl class="dl-horizontal"></dl>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.temp)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.humidity)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.temp)
            </td>
            <td>
                @Html.DisplayFor(model => model.humidity)
            </td>
        </tr>
    </table>

</div>